html, body, canvas {background-color:#000}

body {
    color: #666;
}

a {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #777;
    text-decoration: underline;
}

.flex-center {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 95vh;
}

.footer {
    position: absolute;
    text-align: right;
    right: 1em;
    bottom: .5em;
}
